{% if product.tags contains 'has-custom-fields' %}
  <div class="product-form__controls-group product-single__custom-options-group">

    {% if product.tags contains 'field--ministry-name' %}
        <p class="product-form__item line-item-property__field">
          <label for="ministry-name">Ministry Name</label>
          <input class="product-form__input" required id="ministry-name" type="text" name="properties[Ministry Name]" placeholder='e.g., "Grace Church of Mentor"' />
        </p>
    {% endif %}

    {% if product.tags contains 'field--ministry-location' %}
        <p class="product-form__item line-item-property__field">
          <label for="ministry-location">Ministry Location</label>
          <input class="product-form__input" required id="ministry-location" type="text" name="properties[Ministry Location]" placeholder='e.g., "Mentor, Ohio"' />
        </p>
    {% endif %}

  </div>
{% endif %}
